html
  head
    title='Info'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Information About The App
        p This is a really simple node.js app that is used to explore DevOps for containerized apps. This app originally created by Nigel Poulton for a Pluralsight course.
        p Download the code from his GitHub repository: &nbsp;
          a(href="https://github.com/nigelpoulton/pluralsight-docker-CI/tree/0c221d97b42817c0e3109f0719c2828c65a5c202") nigelpoulton/pluralsight-docker-CI
        h2 The Tool Chain
        p The tool chain used here is GitHub &rarr; CircleCI &rarr; Docker Hub &rarr;  Docker Cloud &rarr; AWS
        img(src="./img/DevOpsToolChain.png")
